PORT=3000
TIKTOK_USERNAME=

FRONTEND_URL=https://live.chunmedia.vn
STATIC_DIR=./public

# Optional if you also open http:// without SSL:
# CORS_ORIGIN=https://live.chunmedia.vn,http://live.chunmedia.vn
